<section
        style="box-sizing:inherit;color:#6c7781;font-size:17px"
        class="has-text-color"><em
        style="box-sizing:inherit;font-style:italic">It’s a whole new way to use WordPress. Try it right here!</em>
</section>
<section class="wp-block-image alignfull"
        style="box-sizing:inherit;display:block;position:relative;margin-bottom:1em;margin-left:0;margin-right:0;margin:1.5em 0;max-width:100%">
    <img src="https://wordpress.org/gutenberg/files/2018/07/Screenshot-4-1.png"
            alt="" class="wp-image-97629"
            style="box-sizing:inherit;border:0;height:auto;max-width:100%;width:100%"/>
</section>
<section
        style="box-sizing:inherit;text-align:left">We call the new editor Gutenberg. The entire editing experience has been rebuilt for media rich pages and posts. Experience the flexibility that blocks will bring, whether you are building your first site, or write code for a living.
</section>
<section
        class="wp-block-gallery alignwide columns-4 is-cropped gutenberg-landing--features-grid"
        style="box-sizing:inherit;list-style:disc;display:flex;flex-wrap:wrap;list-style-type:none;padding:0;margin:1.5em auto;max-width:1100px">
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Plugin-1-1.gif"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Do more with fewer plugins.
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Layout-3.gif"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Create modern, multimedia-heavy layouts.
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Devices-1-1.gif"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Work across all screen sizes and devices.
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Visual-1.gif"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Trust that your editor looks like your website.
            </figcaption>
        </section>
    </li>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section>
<section
        class="wp-block-wporg-download-button wp-block-button aligncenter"
        style="box-sizing:inherit;position:relative;color:#fff;margin-bottom:1.5em;clear:both;display:block;margin-left:auto;margin-right:auto;text-align:center">
    <a class="wp-block-button__link has-background has-strong-blue-background-color"
            href="https://wordpress.org/download/"
            style="box-sizing:inherit;border:0;border-radius:28px;box-shadow:none;cursor:pointer;display:inline-block;font-size:18px;margin:0;overflow-wrap:break-word;padding:12px 24px;text-align:center;text-decoration:none;white-space:normal;background-color:rgb(0,115,170);color:#fff">Try it Today in WordPress</a>
</section>
<section
        style="box-sizing:inherit;font-size:13px;text-align:center"
        class="has-small-font-size gutenberg-landing--button-disclaimer">
    <em style="box-sizing:inherit;font-style:italic">Gutenberg is available as part of WordPress 5.0 and later. The
        <a href="https://wordpress.org/plugins/classic-editor/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Classic Editor</a> plugin allows users to switch back to the previous editor if needed. Future development will continue in the
        <a href="https://wordpress.org/plugins/gutenberg/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Gutenberg</a> plugin.</em>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section><h2
        style="box-sizing:inherit;color:#32373c;clear:both;text-align:left">Meet your new best friends, Blocks</h2>
<section
        style="box-sizing:inherit;text-align:left">Blocks are a great new tool for building engaging content. With blocks, you can insert, rearrange, and style multimedia content with very little technical knowledge. Instead of using custom code, you can add a block and focus on your content.
</section>
<section class="wp-block-image"
        style="box-sizing:inherit;display:block;margin:1.5em auto;position:relative;margin-bottom:1em;margin-left:0;margin-right:0;max-width:100%">
    <img src="https://wordpress.org/gutenberg/files/2018/07/Insert-Block-2-1.gif"
            alt="" class="wp-image-358"
            style="box-sizing:inherit;border:0;height:auto;max-width:100%"/>
</section>
<section
        style="box-sizing:inherit;text-align:left">Without being an expert developer, you can build your own custom posts and pages. Here’s a selection of the default blocks included with Gutenberg:
</section>
<section
        class="wp-block-gallery alignfull columns-8 is-cropped"
        style="box-sizing:inherit;list-style:disc;display:flex;flex-wrap:wrap;list-style-type:none;padding:0;margin:1.5em 0;max-width:100%">
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Paragraph
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Heading.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Heading
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Subheading.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Subheading
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Quote.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Quote
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Image.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Image
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Gallery.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Gallery
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Cover-Image.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Cover Image
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Video.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Video
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Audio.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Audio
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Column.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Columns
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-File.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">File
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Code.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Code
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-List.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">List
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Button.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Button
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px)">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-Embeds.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">Embeds
            </figcaption>
        </section>
    </li>
    <li class="blocks-gallery-item"
            style="box-sizing:inherit;list-style-type:none;display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:0 16px 16px 0;position:relative;width:calc(50% - 8px);margin-right:0">
        <section
                style="box-sizing:inherit;display:block;height:100%;margin:0">
            <img src="https://wordpress.org/gutenberg/files/2018/07/Block-Icon-More.png"
                    alt=""
                    style="box-sizing:inherit;border:0;display:block;height:auto;max-width:100%;width:100%"/>
            <figcaption
                    style="box-sizing:inherit;display:block;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);bottom:0;color:#fff;font-size:13px;max-height:100%;overflow:auto;padding:40px 10px 9px;position:absolute;text-align:center;width:100%">More
            </figcaption>
        </section>
    </li>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section><h2
        style="box-sizing:inherit;color:#32373c;clear:both;text-align:left">Be your own builder</h2>
<section
        style="box-sizing:inherit;text-align:left">A single block is nice—reliable, clear, distinct. Discover the flexibility to use media and content, side by side, driven by your vision.
</section>
<section class="wp-block-image"
        style="box-sizing:inherit;display:block;margin:1.5em auto;position:relative;margin-bottom:1em;margin-left:0;margin-right:0;max-width:100%">
    <img src="https://wordpress.org/gutenberg/files/2018/08/Builder.gif"
            alt="" class="wp-image-98363"
            style="box-sizing:inherit;border:0;height:auto;max-width:100%"/>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section><h2
        style="box-sizing:inherit;color:#32373c;clear:both;text-align:left">Gutenberg ❤️ Developers</h2>
<section
        class="wp-block-columns has-2-columns gutenberg-landing--developers-columns"
        style="box-sizing:inherit;display:flex;flex-wrap:wrap">
    <section class="wp-block-column"
            style="box-sizing:inherit;flex-basis:100%;flex-grow:1;margin-bottom:1em;min-width:0;overflow-wrap:break-word;word-break:break-word">
        <section style="box-sizing:inherit;text-align:left">
            <strong style="box-sizing:inherit;font-weight:700">Built with modern technology.</strong>
        </section>
        <section
                style="box-sizing:inherit;text-align:left">Gutenberg was developed on GitHub using the WordPress REST API, JavaScript, and React.
        </section>
        <section
                style="box-sizing:inherit;font-size:13px;text-align:left"
                class="has-small-font-size"><a
                href="https://wordpress.org/gutenberg/handbook/language/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Learn more</a>
        </section>
    </section>
    <section class="wp-block-column"
            style="box-sizing:inherit;flex-basis:100%;flex-grow:1;margin-bottom:1em;min-width:0;overflow-wrap:break-word;word-break:break-word">
        <section style="box-sizing:inherit;text-align:left">
            <strong style="box-sizing:inherit;font-weight:700">Designed for compatibility.</strong>
        </section>
        <section
                style="box-sizing:inherit;text-align:left">We recommend migrating features to blocks, but support for existing WordPress functionality remains. There will be transition paths for shortcodes, meta-boxes, and Custom Post Types.
        </section>
        <section
                style="box-sizing:inherit;font-size:13px;text-align:left"
                class="has-small-font-size"><a
                href="https://wordpress.org/gutenberg/handbook/reference/faq/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Learn more</a>
        </section>
    </section>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section><h2
        style="box-sizing:inherit;color:#32373c;clear:both;text-align:left">The editor is just the beginning</h2>
<section
        style="box-sizing:inherit;text-align:left">Gutenberg is more than an editor. It’s also the foundation that’ll revolutionize customization and site building in WordPress.
</section>
<blockquote
        style="box-sizing:inherit;quotes:&#x27;&#x27; &#x27;&#x27;;max-width:700px;margin:0 0 16px;padding:0 1em;text-align:left"
        class="wp-block-quote is-style-large">
    <section
            style="box-sizing:inherit;font-size:24px;font-style:italic;line-height:1.6">&quot;This will make running your own blog a viable alternative again.&quot;
    </section>
    <cite style="box-sizing:inherit;font-style:italic;font-size:18px;text-align:right">—
        <a href="https://twitter.com/azumbrunnen_/status/1019347243084800005"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa">Adrian Zumbrunnen</a></cite>
</blockquote>
<blockquote
        style="box-sizing:inherit;quotes:&#x27;&#x27; &#x27;&#x27;;max-width:700px;margin:0 0 16px;padding:0 1em;text-align:left"
        class="wp-block-quote is-style-large">
    <section
            style="box-sizing:inherit;font-size:24px;font-style:italic;line-height:1.6">&quot;The web up until this point has been confined to some sort of rectangular screen. But that is not how it’s going to be. Gutenberg has the potential of moving us into the next time.&quot;
    </section>
    <cite style="box-sizing:inherit;font-style:italic;font-size:18px;text-align:right">—
        <a href="https://wordpress.tv/2017/12/10/morten-rand-hendriksen-gutenberg-and-the-wordpress-of-tomorrow/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa">Morten Rand-Hendriksen</a></cite>
</blockquote>
<blockquote
        style="box-sizing:inherit;quotes:&#x27;&#x27; &#x27;&#x27;;max-width:700px;margin:0 0 16px;padding:0 1em;text-align:left"
        class="wp-block-quote is-style-large">
    <section
            style="box-sizing:inherit;font-size:24px;font-style:italic;line-height:1.6">&quot;The Gutenberg editor has some great assets that could genuinely help people to write better texts.&quot;
    </section>
    <cite style="box-sizing:inherit;font-style:italic;font-size:18px;text-align:right">—
        <a href="https://yoast.com/writing-with-gutenberg/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa">Marieke van de Rakt</a></cite>
</blockquote>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section>
<section
        class="wp-block-wporg-download-button wp-block-button aligncenter"
        style="box-sizing:inherit;position:relative;color:#fff;margin-bottom:1.5em;clear:both;display:block;margin-left:auto;margin-right:auto;text-align:center">
    <a class="wp-block-button__link has-background has-strong-blue-background-color"
            href="https://wordpress.org/download/"
            style="box-sizing:inherit;border:0;border-radius:28px;box-shadow:none;cursor:pointer;display:inline-block;font-size:18px;margin:0;overflow-wrap:break-word;padding:12px 24px;text-align:center;text-decoration:none;white-space:normal;background-color:rgb(0,115,170);color:#fff">Try it Today in WordPress</a>
</section>
<section
        style="box-sizing:inherit;font-size:13px;text-align:center"
        class="has-small-font-size gutenberg-landing--button-disclaimer">
    <em style="box-sizing:inherit;font-style:italic">Gutenberg is available as part of WordPress 5.0 and later. The
        <a href="https://wordpress.org/plugins/classic-editor/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Classic Editor</a> plugin allows users to switch back to the previous editor if needed. Future development will continue in the
        <a href="https://wordpress.org/plugins/gutenberg/"
                style="box-sizing:inherit;background-color:transparent;color:#0073aa;border-bottom:0">Gutenberg</a> plugin.</em>
</section>
<section style="box-sizing:inherit;height:100px"
        aria-hidden="true"
        class="wp-block-spacer"></section><h2
        style="box-sizing:inherit;color:#32373c;clear:both;text-align:left">Dig in deeper</h2>
<section
        style="box-sizing:inherit;margin:0 0 1.5em 3em;list-style:disc">
    <li style="box-sizing:inherit"><a
            href="https://make.wordpress.org/core/2017/01/17/editor-technical-overview"
            style="box-sizing:inherit;background-color:transparent;color:#0073aa">Gutenberg Editor Technical Overview</a>
    </li>
    <li style="box-sizing:inherit"><a
            href="https://wordpress.org/gutenberg/handbook/reference/design-principles/"
            style="box-sizing:inherit;background-color:transparent;color:#0073aa">Gutenberg Design Principles</a>
    </li>
    <li style="box-sizing:inherit"><a
            href="https://make.wordpress.org/core/tag/gutenberg/"
            style="box-sizing:inherit;background-color:transparent;color:#0073aa">Development updates on make.wordpress.org</a>
    </li>
    <li style="box-sizing:inherit"><a
            href="https://wordpress.tv/?s=gutenberg"
            style="box-sizing:inherit;background-color:transparent;color:#0073aa">WordPress.tv Talks about Gutenberg</a>
    </li>
    <li style="box-sizing:inherit"><a
            href="https://wordpress.org/gutenberg/handbook/reference/faq/"
            style="box-sizing:inherit;background-color:transparent;color:#0073aa">FAQs</a>
    </li>
</section>