body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}
main{
  padding: 50px 30px ;
  width:794px;
  margin:0 auto;
}

.editor-content{
  max-width: 1000px;
  margin:0 auto;
}

.btn-container{
  width:100%;
  height:50px;
  position:fixed;
  left:0;top:0;
  background: #fff;
  border-bottom:1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0 30px;
  box-sizing: border-box;
}
.btn{
  padding:5px;
  line-height: 1.5;
  border:1px solid #ddd;
  border-radius:2px;
  cursor: pointer;
  font-size: 12px;
  margin:0 5px;
}
